<div class="container">    
<table class="table table-striped table-hover" style="margin-top: 10px">
    <thead  *ngIf="products && products.length">
        <tr>
            <th>#</th>
            <th>Produkty</th>
            <th>Cena</th>
            <th>Dostępność</th>
        </tr>
    </thead>
    <tbody class="tbody-light" *ngFor="let product of filteredProducts">
        <tr>
            <td scope="row">{{product.id}}</td>
            <td class="table-success">{{product.name | reverse}}</td>
            <td>{{product.price | currency}}</td>
            <td>
                <pm-availability [availability]="product.availability"></pm-availability>
            </td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
      <div class="col-sm" align="center">
      </div>
      <div class="col-sm" align="center">
        <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="szukany produkt" [(ngModel)] = 'filter'>
          <small id="helpId" class="form-text text-muted">Filtruj produkty {{filter}} </small>
        </div>
      </div>
      <div class="col-sm" align="center">
      </div>
    </div>
    <div class="row">
      <div class="col-sm" align="center">
      </div>
      <div class="col-sm" align="center">
        <button type="button" class="btn btn-primary" (click)='AddRow()'>Dodaj</button>
        <button type="button" class="btn btn-light" (click)='RemoveRow()'>Usuń</button>
      </div>
      <div class="col-sm" align="center">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl" align="center">
      </div>
      <div class="col-xl-4" align="center">
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj swój login" value="Login">
                  </mat-form-field>
      </div>
      <div class="col-xl" align="center">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col" align="center">
      </div>
      <div class="col-4" align="center">
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj swoje hasło" value="Hasło">
                  </mat-form-field>
      </div>
      <div class="col" align="center">
      </div>
    </div>
  </div>
</div>